AI EMAIL assistant.json
{
  "name": "AI EMAIL assistant",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "id": "860ac9b4-627b-49df-b873-4d8b23b80448",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "position": [
        -2608,
        880
      ],
      "typeVersion": 1.2,
      "credentials": {
        "gmailOAuth2": {
          "id": "HMU1vo3KhrD2BmH0",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1ec24de2-2e64-4386-aa00-62603a63aef5",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.urgency }}",
              "rightValue": "high"
            },
            {
              "id": "0ed8beae-9ef7-46b7-9aca-5cd83412bceb",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.urgency }}",
              "rightValue": "Medium"
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "f4157a4d-9666-45b2-af33-d88a69497221",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        -1552,
        880
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let raw = $json.text || \"\";\n\n// Remove triple backticks (```json ... ```)\nraw = raw.replace(/```json|```/g, '').trim();\n\n// Fix smart quotes and other formatting problems\nraw = raw.replace(/[\"\"]/g, '\"').replace(/['']/g, \"'\");\n\ntry {\n  const parsed = JSON.parse(raw);\n\n  return {\n    json: {\n      summary: parsed.summary || \"its hot here\",\n      urgency: parsed.urgency || \"60-C\",\n      category: parsed.category || \"immediate help\",\n      intent: parsed.intent || \"help\"\n    }\n  };\n} catch (e) {\n  return {\n    json: {\n      summary: \"its hot here\",\n      urgency: \"60-C\",\n      category: \"immediate help\",\n      intent: \"Uhelp\",\n      error: e.message,\n      original: raw\n    }\n  };\n}"
      },
      "id": "731a0bd5-e416-4a91-8299-9c9152f59f59",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "position": [
        -1744,
        880
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0BGSNQU5MJ",
          "mode": "list",
          "cachedResultName": "new-channel"
        },
        "text": "=📬 *Important Email Detected*  *Summary:* {{ $('Code').item.json.summary }} *Urgency:*  {{ $('Code').item.json.urgency }} 📥 From: {{ $('Gmail Trigger').item.json.From }}",
        "otherOptions": {}
      },
      "id": "dfae5939-c300-49a3-91db-54a064ac5d41",
      "name": "Send a message",
      "type": "n8n-nodes-base.slack",
      "position": [
        -1264,
        784
      ],
      "webhookId": "8d75cfb9-ac55-4745-b37d-013995518ff1",
      "typeVersion": 2.3,
      "credentials": {
        "slackOAuth2Api": {
          "id": "3VtTXfQjZUtB9Reo",
          "name": "Slack account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $node[\"Gmail Trigger\"].json[\"id\"] }}",
        "labelIds": [
          "Label_7339361425558964225"
        ]
      },
      "id": "b3af20ed-5ab6-46ac-a244-5a92d5f892c0",
      "name": "Add label to message",
      "type": "n8n-nodes-base.gmail",
      "position": [
        -1248,
        976
      ],
      "webhookId": "2e09aafe-567b-4205-8905-bc0cafee56cb",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "HMU1vo3KhrD2BmH0",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $node[\"Gmail Trigger\"].json[\"id\"] }}",
        "labelIds": [
          "Label_7339361425558964225"
        ]
      },
      "id": "9641d8f5-f991-4350-8ad0-2ef634816713",
      "name": "Add label to message1",
      "type": "n8n-nodes-base.gmail",
      "position": [
        -944,
        784
      ],
      "webhookId": "2e09aafe-567b-4205-8905-bc0cafee56cb",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "HMU1vo3KhrD2BmH0",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1W0DaCaJWloORCR-EkuusTad5lZu5YnRBMHzWo1OjYMA",
          "mode": "list",
          "cachedResultName": "for AI EMAIL assistant",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1W0DaCaJWloORCR-EkuusTad5lZu5YnRBMHzWo1OjYMA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1W0DaCaJWloORCR-EkuusTad5lZu5YnRBMHzWo1OjYMA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $now.setZone('Asia/Kolkata').toFormat('yyyy-MM-dd HH:mm:ss') }}",
            "from": "={{ $('Gmail Trigger').item.json.payload }}",
            "summary": "={{ $('Code').item.json.summary }}",
            "urgency": "={{ $('Code').item.json.urgency }}",
            "category": "={{ $('Code').item.json.category }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "from",
              "displayName": "from",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "urgency",
              "displayName": "urgency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "e0cb439d-6271-415d-a639-32e604857ba9",
      "name": "Append row in sheet1",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -944,
        976
      ],
      "typeVersion": 4.6,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "s72634aGk8fuGK4i",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Subject: {{ $('Gmail Trigger').item.json.payload.headers.find(h => h.name === 'Subject').value }}\nBody: {{ $json.snippet }}",
        "messages": {
          "messageValues": [
            {
              "message": "You must respond with ONLY valid JSON, no other text, no markdown code blocks, no explanation.  Format exactly like this: {   \"summary\": \"brief summary of the email\",   \"urgency\": \"high\" or \"medium\" or \"low\",   \"category\": \"category name\" }  Do not include any text before or after the JSON object."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -2208,
        880
      ],
      "id": "f976fceb-883c-4f12-9dec-d3706545584d",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -2112,
        1056
      ],
      "id": "25141109-e0a5-433c-9987-cfde49e76a2a",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "cnGMAn7y45NeMBAM",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1W0DaCaJWloORCR-EkuusTad5lZu5YnRBMHzWo1OjYMA",
          "mode": "list",
          "cachedResultName": "for AI EMAIL assistant",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1W0DaCaJWloORCR-EkuusTad5lZu5YnRBMHzWo1OjYMA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1W0DaCaJWloORCR-EkuusTad5lZu5YnRBMHzWo1OjYMA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "from": "={{ $('Gmail Trigger').item.json.payload }}",
            "summary": "={{ $('Code').item.json.summary }}",
            "urgency": "={{ $('Code').item.json.urgency }}",
            "category": "={{ $('Code').item.json.category }}",
            "timestamp": "={{ $now.setZone('Asia/Kolkata').toFormat('yyyy-MM-dd HH:mm:ss') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "from",
              "displayName": "from",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "urgency",
              "displayName": "urgency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "8954f74e-9197-458c-8991-8d81283abd9c",
      "name": "Append row in sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -736,
        784
      ],
      "typeVersion": 4.6,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "s72634aGk8fuGK4i",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Add label to message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d5c9e805-8f42-47f4-ab8b-e1b422acc511",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2d433674dca0f5b9b71c14323d00e23f9ae1f9d80afb9360348d785cd36a83d9"
  },
  "nodeGroups": [],
  "id": "OyWE6gsJahc2NwDn",
  "tags": []
}