AI Hiring Agent.json
{
  "name": "AI Hiring Agent",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Apply For Executive Assistant at SAMSUNG",
        "formDescription": "Give your Info carefully",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name",
              "placeholder": "Full Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Email Address",
              "placeholder": "user@example.com",
              "requiredField": true
            },
            {
              "fieldLabel": "Job",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Executive Assistant"
                  },
                  {
                    "option": "IT Specialist"
                  },
                  {
                    "option": "Manager"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Resume",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": ".pdf",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "2ac2d6b6-63f7-418f-a37b-9a43643c78eb",
      "name": "On form submission",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        496,
        400
      ],
      "webhookId": "2e23f375-701a-4198-a991-21e08376370a",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "Resume",
        "options": {}
      },
      "id": "73452f79-5c9a-443e-a377-cb4ba201be82",
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        864,
        400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Name: {{ $('On form submission').item.json.Name }}\nJob Name: {{ $('On form submission').item.json.Job }}\nResume: {{ $json.text }}",
        "options": {
          "systemMessage": "=You are a hiring agent for SAMSUNG. You will evaluate a candidate based on three inputs: the person's name, their job title, and their resume.\n\nYour task:\n1. Rate the resume out of 10 in terms of how suitable it is for the job title.\n2. Give a status: \"Accepted\" if score >= 7, else \"accepted\".\n3. Generate an email:\n   - If \"Accepted\", write a short congratulatory email with the subject \"Congratulations on Joining Samsung!\" and mention the start date as 1st October 2026.\n   - If \"Rejected\", write a polite rejection email with the subject \"Regarding Your Application at Samsung\" in a soft and respectful tone.\n\nExample Output:\n\nScore: 8\nStatus: Accepted\nEmail: \n    Subject: Congratulations on Joining Samsung!\n    Body:\nDear Rakin Jakaria,\nWe are pleased to inform you that you have been selected for the position of Video Editor at Samsung. Your start date will be 1st October 2026.\nWelcome to the team!\n\nBest regards,\nSamsung HR Team"
        }
      },
      "id": "cf7905a0-3096-4f25-ac16-7d55d6217a9a",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1232,
        400
      ],
      "typeVersion": 2,
      "retryOnFail": true
    },
    {
      "parameters": {
        "text": "={{ $json.output }}",
        "attributes": {
          "attributes": [
            {
              "name": "Score",
              "type": "number",
              "description": "the score",
              "required": true
            },
            {
              "name": "Status",
              "description": "Accepted or Rejected",
              "required": true
            },
            {
              "name": "Mail Subject",
              "description": "only the subject of the mail",
              "required": true
            },
            {
              "name": "Mail Body",
              "description": "the body of the mail without the subject"
            }
          ]
        },
        "options": {}
      },
      "id": "f4edefd0-5868-4cde-99e5-5b53d15c2f67",
      "name": "Information Extractor",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "position": [
        1712,
        400
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json['Email Address'] }}",
        "subject": "={{ $json.output['Mail Subject'] }}",
        "emailType": "text",
        "message": "={{ $json.output['Mail Body'] }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "a98b0ccc-ca7b-4cae-b6f1-dac1cb763545",
      "name": "Gmail",
      "type": "n8n-nodes-base.gmail",
      "position": [
        2160,
        400
      ],
      "webhookId": "9ce2f294-f38c-4c4c-88c8-7828088511c5",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "HMU1vo3KhrD2BmH0",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Dyn4qyKX7jOa84qljMrwFlYa4-NOtz_V2G1PauJEz8s",
          "mode": "list",
          "cachedResultName": "FOR AI hiring agent",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Dyn4qyKX7jOa84qljMrwFlYa4-NOtz_V2G1PauJEz8s/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Dyn4qyKX7jOa84qljMrwFlYa4-NOtz_V2G1PauJEz8s/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $('On form submission').item.json.Name }}",
            "job": "={{ $('On form submission').item.json.Job }}",
            "score": "={{ $('Information Extractor').item.json.output.Score }}",
            "status": "={{ $('Information Extractor').item.json.output.Status }}",
            " email address": "={{ $('On form submission').item.json['Email Address'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " email address",
              "displayName": " email address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "job",
              "displayName": "job",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "dee997f2-8ef2-4b31-8591-e489d5b39c8d",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        2432,
        400
      ],
      "typeVersion": 4.6,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "s72634aGk8fuGK4i",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1520,
        688
      ],
      "id": "9b65e725-721f-4c4b-9eb0-c6ba50a3a100",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "cnGMAn7y45NeMBAM",
          "name": "Groq account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f5286e20-65cb-4cbc-a6a3-9b53c7b9f423",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2d433674dca0f5b9b71c14323d00e23f9ae1f9d80afb9360348d785cd36a83d9"
  },
  "nodeGroups": [],
  "id": "xH8lXfcH3CDtBBLN",
  "tags": []
}