AI research chatbot (1).json
{
  "name": "AI research chatbot",
  "nodes": [
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "id": "b33e44dd-b0b1-45f5-b135-0d8328eda1fb",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        960,
        992
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "options": {
          "systemMessage": "=You are a research assistant with access to real-time search results provided by SerpAPI. You must always base your answers exclusively on the information retrieved from SerpAPI—never speculate or guess.\n\nFor every user query, you will receive structured results including titles, snippets, prices, images, and links.\n\nYour job is to:\n- Carefully analyze the SerpAPI results\n- Identify the most relevant and helpful information\n- Summarize or compare the top 2–3 options clearly and concisely\n- Include: product name, short description, price (if available), link, and image URL (if available)\n\nFormat the response in a user-friendly, readable style—using bullets or emojis to improve clarity. Always include direct links and image URLs if they are provided in the search data.\n\nIf no useful results are found, say so transparently.\n\nDo not generate information outside of what SerpAPI returns. Your role is to process, summarize, and organize real web search data—nothing more.\n"
        }
      },
      "id": "7f734e91-5e45-4d40-aecf-02e29ca85b9a",
      "name": "Research AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1328,
        752
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "4af5d787-bf69-43b9-bdaa-55928b3619d7",
      "name": "SerpAPI",
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "position": [
        1536,
        1008
      ],
      "typeVersion": 1,
      "credentials": {
        "serpApi": {
          "id": "UVVfdWwA2djAiqOh",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "f1a50dcd-3828-4f56-b930-ea5e0fced2c1",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        368,
        752
      ],
      "webhookId": "3e00a8f3-50f1-4b71-9af3-f06813efd5e5",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "igJ1eGiFIrfn3rXm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "id": "730bd195-2d2b-4270-b9e7-0a793f3e885c",
      "name": "Send a text message",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1904,
        752
      ],
      "webhookId": "c933873b-ee2d-48ad-a3d9-24f238083a64",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "igJ1eGiFIrfn3rXm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        720,
        1008
      ],
      "id": "2f8d4c54-328b-4c9b-a77c-59695234b426",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "cnGMAn7y45NeMBAM",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1312,
        1008
      ],
      "id": "e0998a08-1b14-4bba-a7ff-ddaae4578c5a",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "cnGMAn7y45NeMBAM",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }} ",
        "options": {
          "systemMessage": "=You are an intelligent assistant specialized in understanding user queries and structuring them for deeper investigation. You act as a first-layer analyst, helping clarify, reformulate, or expand the user's original question when needed.\n\nYou have access to short-term memory and can recall recent context to ensure continuity in multi-turn conversations. Your goal is to understand what the user really needs, extract relevant context, and prepare a refined, focused query for a research agent.\n\nYou do not perform live research yourself. Instead, you pass refined questions forward.\nRespond clearly, naturally, and like a helpful human—not robotic or overly formal.\n"
        }
      },
      "id": "dee715c6-58fb-4f6d-a6b9-3cb8aa92cf6c",
      "name": "GROQ R1 AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        800,
        752
      ],
      "typeVersion": 2
    }
  ],
  "pinData": {},
  "connections": {
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "Research AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "GROQ R1 AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "GROQ R1 AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "GROQ R1 AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Research AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "GROQ R1 AI Agent": {
      "main": [
        [
          {
            "node": "Research AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "5e2710fa-30b1-4987-b57d-2db0b54f15cb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2d433674dca0f5b9b71c14323d00e23f9ae1f9d80afb9360348d785cd36a83d9"
  },
  "nodeGroups": [],
  "id": "kXTNL5HR2fIq7hZ2",
  "tags": []
}